<h1>Editing Entity</h1>

<%= render 'form', entity: @entity %>

<br>
<%= link_to 'Show', @entity, class: "btn btn-outline-secondary" %> |
<%= link_to 'Back', entities_path, class: "btn btn-outline-secondary" %>
